<!-- screens/DetailsScreen.vue -->

<template>
  <view class="container">
    <text> {{resp}} </text>
    <text class="text-color-primary">{{'Hello ' + userName}}</text>
    <text class="text-input">{{phoneNumber}}</text>
    <text>Enter Code here</text>
    <text-input
      class="text-input"  
      :style="{height: 40, width: 100, borderColor: 'gray', borderWidth: 1}"
      v-model="verifyCode"
    />
    <text>{{this.testData}}</text>
    <button
      @press="goToHomeScreen"
      :disabled="verifyCode.length != 5"
      title="verify !" 
      color="#841584"
    />
  </view>
</template>

<script>
export default {
  // Declare `navigation` as a prop
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      userName: this.navigation.getParam('userName'),
      phoneNumber: this.navigation.getParam('phoneNumber'),
      verifyCode:'',
      resp:''
    }
  },
  methods: {
    goToHomeScreen() {
      this.navigation.navigate("Home");
    }
  },
  created() {
    const requestOptions = {
      method: "get",
      headers: { "Content-Type": "application/json" },
      //body: JSON.stringify({code : '22222', phoneNumber:  this.phoneNumber})
    };
    fetch("http://127.0.0.1:8000/test/api/logs", requestOptions)
      .then(response => response.json())
      .then((jsonData)=> {
        this.resp = jsonData.code
      })
  }
}
</script>

<style>
.container {
  flex: 1;
  margin-bottom: 30;
  align-items: center;
  justify-content: center;
}
.text-color-primary {
  color: blue;
  font-size: 20;
}
.text-input {
  font-size: 18;
  text-align: center;
}
</style>