<template>
    <view class="container">
        <text>{{ res }}</text>
        <text>{{ test.type }}</text>
        <text class="text-color-primary">{{ message }}</text>
        <text>Name</text>
        <text-input
        class="text-input"
        :style="{height: 40, width: 220, borderColor: 'green', borderWidth: 1}"
        v-model="text1"
        />
        <text>Number</text>
        <text-input
        class="text-input"
        :style="{height: 40, width: 200, borderColor: 'green', borderWidth: 1}"
        v-model="text2"
        />
        <text/>
        <button
        :on-press="onPressSwitch"
        :disabled="text1.length<4 || text2.length<10"
        title="Submit !"
        color="#841584"
        accessibility-label="Just Press it"
        />
        <text/>
    </view>
</template>

<script>
export default {
  props: {
    navigation: {
      type: Object,
      test: Object
    }
  },
  data() {
    return {
      message: "Enter your Name and PhoneNumber",
      text1: '',
      text2: '',
      resp : {},
      res : [],
      test : ''
    }
  },
  methods: {
    onPressLearnMore: function() {
        alert('Hello ' + this.text1)
    },
    onPressSwitch(){
        this.navigation.navigate("Details", {userName : this.text1, phoneNumber : this.text2});
    },
    onPressTest(){
      alert(this.resp)
    }
  },
  created: function() {
    fetch('http://127.0.0.1:8000/test/api/logs/?format=json', {
      method : 'GET',
      headers: { "Content-Type": "application/json" }    
    })
      .then((response) => {
        return response.json()
      })
      .then((jsonData) => {
        this.res = jsonData
        this.test = this.res[0]
      })
  }
};
</script>

<style>
.container {
  flex: 1;
  margin-bottom: 30;
  align-items: center;
  justify-content: center;
}
.text-color-primary {
  color: blue;
  font-size: 20;
}
.text-input {
  color: green;
  font-size: 18;
  text-align: center;
}
</style>